<div class="screen">
  <div class="view view--full">
    <div class="layout">
      <div class="columns">
        <div class="column">
          <div class="markdown">
            {% for line in data %}
            <div class="row" style="display: flex; justify-content: space-between; padding: 2px 0; font-size: 14px;">
              <div class="line-name" style="text-align: right; flex: 1; padding-right: 10px;">
                {{ line.name }}
              </div>
              <div class="line-status" style="text-align: left; flex: 1;">
                {% if line.lineStatuses[0].statusSeverityDescription == "Good Service" %}
                {{ line.lineStatuses[0].statusSeverityDescription }}
                {% else %}
                <span style="background-color: black; color: white; padding: 2px 0px; display: inline-block;">
                  {{ line.lineStatuses[0].statusSeverityDescription }}
                </span>
                {% endif %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="title_bar">
  <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/4/41/Underground.svg" width="30" />
  <span class="title">TfL Line Status</span>
</div>
